In [8]:
import pandas as pd
iris=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
print(type(iris))
# print(iris)

<class 'pandas.core.frame.DataFrame'>

In [21]:
# Otherwise df changes will also reflect on iris
df=iris.copy()

# By default give 5 rows , if anthing else wanted give .head(number)
df.head()

print(df.shape)

# Manipulate the column header
df.columns = ['sl', 'sw' ,'pl', 'pw' , 'flower_type']

# Analysisis of dataset(mean , max ,std, len etc)
df.describe()

# Excessing a particular column
df.sl


# How many null entries in each columnn
df.isnull().sum()

(149, 5)

sl             0
sw             0
pl             0
pw             0
flower_type    0
dtype: int64

In [27]:
# Slicing the Data
# Excess i=1,2,3 and j=2
df.iloc[1:4, 2:3]

    pl
1  1.3
2  1.5
3  1.4

In [30]:
# Dropping a columns  These are dropping clumns of 0, 1 label not the index
df.drop(0, inplace=True)
df.drop(1, inplace=True)
df.head()

    sl   sw   pl   pw  flower_type
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa

In [86]:
df=iris.copy()

# Remove by position , this is will be removing upar se sabse pehli row
df.drop(df.index[0] , inplace=True)
# df.drop(df.index[0] , inplace=True)
# df.drop(df.index[0] , inplace=True)


df.columns = ['sl', 'sw' ,'pl', 'pw' , 'flower_type']
# Wo entries jisme sl 6 se badha h 
df.sl>6
# df.index()
print()

In [87]:
# Deleting a column
df.columns = ['sl', 'sw' ,'pl', 'pw' , 'flower_type']
df.head()

# Deleting of sw clomn
del df['sw']
df.head()

    sl   pl   pw  flower_type
1  4.7  1.3  0.2  Iris-setosa
2  4.6  1.5  0.2  Iris-setosa
3  5.0  1.4  0.2  Iris-setosa
4  5.4  1.7  0.4  Iris-setosa
5  4.6  1.4  0.3  Iris-setosa

In [89]:
# Adding a column
df=iris.copy()
df.columns = ['sl', 'sw' ,'pl', 'pw' , 'flower_type']

df['diff_p;_pw']=df['pl']-df['pw']
df.head()

    sl   sw   pl   pw  flower_type  diff_p;_pw
0  4.9  3.0  1.4  0.2  Iris-setosa         1.2
1  4.7  3.2  1.3  0.2  Iris-setosa         1.1
2  4.6  3.1  1.5  0.2  Iris-setosa         1.3
3  5.0  3.6  1.4  0.2  Iris-setosa         1.2
4  5.4  3.9  1.7  0.4  Iris-setosa         1.3